<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        Javier Anaya Martinez
      </div>
    </div>
  </div>
</nav>